.as-stage {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	padding-top: 56.25%;
	background: royalblue;
	
	.as-track {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		white-space: nowrap;
		
		.as-item {
			width: 100px;
			height: 100px;
			display: inline-block;
		}
	}
}

.as-trigger {
	position: absolute;
	top: 50%;
	width: 15px;
	height: 15px;
	background: #4ccb2c;
	
	&#as-prev {
		left: 0;
	}
	
	&#as-next {
		right: 0;
	}
}